<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Board List</title>
    <style>
        table, tr, th, td{
            border : 1px solid black
        }
    </style>
</head>
<body>
  <h1>Board List</h1>

  <table>
      <tr>
          <td>Name</td>
          <td>Title</td>
          <td>Content</td>
          <td>Date</td>
      </tr>
      <tr th:each="board : ${list}">
          <td th:text="${board.getName}"></td>
          <td th:text="${board.getTitle}"></td>
          <td th:text="${board.getContent}"></td>
          <td th:text="${board.getCreateDate}"></td>
      </tr>
  </table>
</body>
</html>