<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
    <meta charset="UTF-8">
    <title>Board Form</title>
</head>
<body>
<!--    <h1 th:text="${}"></h1>-->
<!--    <h2 th:text="${test}"></h2>-->
<!--    <h3 th:text="${board.getTitle}"></h3>-->
    <form action="/board/create" method="post">
        id : <input type="text" id="id" name="id">
        username : <input type="text" id="username" name="username">
        name : <input type="text" id="name" name="name">
        title : <input type="text" id="title" name="title">
        content : <input type="text" id="content" name="content">
        <input type="submit">
    </form>
</body>
</html>