<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--SQL 및 O/R 매핑(Object Relational Mapping) 설정을 설명하는 XML 파일-->
<!--Mapper 폴더는 애플리케이션에서 사용할 쿼리를 담고 있는 XML 파일을 저장-->
<!--SQL문을 XML형식의 파일로 분리시켜 저장 관리를 할 수 있고 Java소스 에서 id만 호출하여 개발을 하는데 편리해지는 장점-->
<mapper namespace="com.sbstudy.user.UserDao">
    <insert id="insertUser" parameterType="userDto">
        insert into user(id, password)
        values (#{id}, #{password})
    </insert>

    <select id="selectUser" parameterType="userDto" resultType="int">
        select count(*)
        from user
        where id = #{id}
    </select>

    <select id="selectUserLogin" parameterType="userDto" resultType="int">
        select count(*)
        from user
        where id = #{id}
        and password = #{password}
    </select>
</mapper>