<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis는 SQL Mapper 프레임워크 -->

<configuration>
    <typeAliases>
        <!--        <typeAlias alias="myuser" type="com.homework.mybatis.jdbc.MyUserDTO"/>-->
        <!--        <typeAlias alias="user" type="com.homework.mybatis.user.UserDto"/>-->
        <!--        <typeAlias alias="boardDto" type="com.forward.payment.board.dto.BoardDto"/>-->
    </typeAliases>

</configuration>