<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>

    <form action="/user/login" method="post">
        <div><label for="user_id" />ID : <input type="text" id="user_id" name="user_id"></div>
        <div><label for="user_pwd" />PWD : <input type="password" id="user_pwd" name="user_pwd"></div>
        <input type="submit" value="로그인">
    </form>
    <div><a href="/user/join">회원가입</a></div>
</body>
</html>